<table class="ui green table">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Frete</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @adesivos.each do |adesivo| %>
      <tr>
        <td><%= adesivo.valor %></td>
        <td><%= adesivo.frete %></td>
        <td><%= link_to adesivo.url, adesivo.url %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr>
        <th><%= @adesivos.map {|s| s['valor']}.reduce(0, :+) %></th>
        <th><%= @adesivos.map {|s| s['frete']}.reduce(0, :+) %></th>
        <th></th>
    </tr>
  </tfoot>
</table>
